<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="_styles/app.css"/>
    <title>$projectTitle - $projectSubtitle</title>
  </head>
  <body>
  
  	<div id="coverpage">
	  	<p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><span style="font-size: 48px;">$projectTitle</span></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><span style="font-size: 30px;"><strong>$projectSubtitle</strong></span></p>
	    <p style="text-align: center;"><br></p>
	    <p style="text-align: center;"><span style="font-size: 16px;">Stand: $currentdate</span></p>
    </div>
    
  	<div id="content">
	    #foreach($content in $contents)
	    	<h$content.getNavLevel()>$content.getTitle()</h$content.getNavLevel()>
			$ContentMetadata.textContentOf($content)
		#end        
	</div>
  </body>
</html>

